################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Nobel_CSharp/.vs/Nobel_CSharp/FileContentIndex
/Nobel_CSharp/bin/Debug
/Nobel_CSharp/obj/Debug
/Nobel_CSharp/.vs/Nobel_CSharp/v17/.suo
/Nobel_CSharp/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Nobel_CSharp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Nobel_CSharp/obj/Debug/Nobel_CSharp.csproj.AssemblyReference.cache
